.hero{
    //background-color: #20272f;
    margin-bottom: 50px;
    overflow: visible;
    height: auto;
}

h2{
    color: white;
    font-family: "museo-sans";
    font-weight: 500;
    font-size: 90px;
    color: black;
}

.hero .who img{
    height: 100%;
    width: 100%;
    margin-top: -12px;
    position: relative;
    top: 50px;
}

.hero .who{
    margin-top: 100px;
}