/* -- Air portfolio page--*/
.air-hero{
    background-image: url('../img/airHero2.jpg');
    background-position: 50% 150%;
}

.bar2{
    background-color: #5286a2;
}

.center-block{
    width: 182px;
}

ul li{    
}

.greySpace-box{
    background-color: #3d6377;
    background-image: url(../img/diagonal-noise6.png);
    background-repeat: repeat;
}

.user-contain{
    background-color: #2b707b;
}

.project-moodboards{
    background-color: #167e81;
}

.project-comps{
    background-image: url(../img/purty_wood2.jpg);
}

.project-comps h1{
    color: white;
}

.project-prototype{
    background-color: #028d86;
}

<!--================ MEDIA QUERY=============-->
@media screen and (max-width: 1300px){
    .display{
        width: 60%;
        bottom: -15px;
    }
}

/*Retina*/
@media
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1300px),
screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1300px),
screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1300px),
screen and (min-device-pixel-ratio: 2) and (max-width: 1300px),
screen and (min-resolution: 192dpi) and (max-width: 1300px),
screen and (min-resolution: 2dppx)  and (max-width: 1300px) {
    .display{
        width: 60%;
        bottom: -15px;
    }
}

@media screen and (max-width: 1200px){
    .display{
        width: 60%;
        bottom: -15px;
    }
}

/*Retina*/
@media
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1200px),
screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1200px),
screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1200px),
screen and (min-device-pixel-ratio: 2) and (max-width: 1200px),
screen and (min-resolution: 192dpi) and (max-width: 1200px),
screen and (min-resolution: 2dppx)  and (max-width: 1200px) {
    .display{
        width: 60%;
        bottom: -15px;
    }
}

@media screen and (max-width: 991px){
    .display{
        width: 80%;
        bottom: -85px;
    }
}

/*Retina*/
@media
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
screen and (min--moz-device-pixel-ratio: 2) and (max-width: 991px),
screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 991px),
screen and (min-device-pixel-ratio: 2) and (max-width: 991px),
screen and (min-resolution: 192dpi) and (max-width: 991px),
screen and (min-resolution: 2dppx)  and (max-width: 991px) {
    .display{
        width: 80%;
        bottom: -85px;
    }
}

@media screen and (max-width: 570px){
    .display{
        width: 80%;
        bottom: 9px;
    }
}

/*Retina*/
@media
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 570px),
screen and (min--moz-device-pixel-ratio: 2) and (max-width: 570px),
screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 570px),
screen and (min-device-pixel-ratio: 2) and (max-width: 570px),
screen and (min-resolution: 192dpi) and (max-width: 570px),
screen and (min-resolution: 2dppx)  and (max-width: 570px) {
    .display{
        width: 80%;
        bottom: 9px;
    }
}