html
    margin: 0
    height: 100%
    width: 100%
    overflow-x: hidden
    background-color: #f1f0ee
    body
        margin: 0
        height: 100%
        width: 100%
        .contain
            width: 80%
            max-width: 1170px
            height: 100%
            margin: 0 auto
        nav
            height: 80px
            width: 100%
            position: fixed
            top: 0px
            padding-top: 0
            display: block
            box-sizing: border-box
            z-index: 4
            transition: all 0.8s ease
            .logo
                height: 40px
                width: 25px
                float: left
                //margin: 30px 0
                z-index: 10
                position: absolute
                top: 50%
                transform: translateY(-50%)
            .nav-btn
                height: 18px
                width: 25px
                float: right
                position: relative
                top: 50%
                transform: translateY(-50%)
                display: block
                cursor: pointer
                &:hover .line
                    background: #f8f8f8
                .line
                    height: 3px
                    width: 100%
                    background: #68778e
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    transition: all 0.8s
                .line1
                    top: 0px
                .line3
                    top: 100%
        .slide-out
            position: fixed
            top: 0px
            right: 0px
            height: 100%
            width: 100%
            background-color: #2b333e
            z-index: 3
            overflow: hidden
            -webkit-filter: url('#blur')
            opacity: 0
            transition: opacity 0.3s ease
            pointer-events: none
            ul
                float: left
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                //visibility: hidden
                li
                    margin-bottom: 10%
                    position: relative
                    top: 50px
                    //transition: all 2s ease
                    text-align: center
                    opacity: 0
                    a
                        font-size: 4em
                        font-family: 'Gentium Basic', serif
                        font-style: italic
                        font-weight: 400
                        text-align: left
                        margin-bottom: 10px
                        transition: all 0.8s ease
                        text-decoration: none
                        letter-spacing: 0.1em
                    a:link
                        color: #444f5f
                    a:visited
                        color: #444f5f
                    a:hover
                        color: white
                #aboutButton
                    transition: top 0.85s cubic-bezier(.17,.67,.38,1.8), opacity 1.5s ease
                    transition-delay: 0s
                #workButton
                    transition: top 0.85s cubic-bezier(.17,.67,.38,1.8), opacity 1.5s ease
                    transition-delay: 0.025s
                #resumeButton
                    transition: top 0.85s cubic-bezier(.17,.67,.38,1.8), opacity 1.5s ease
                    transition-delay: 0.050s
                #contactButton
                    transition: top 0.85s cubic-bezier(.17,.67,.38,1.8), opacity 1.5s ease
                    transition-delay: 0.075s
        .hero
            width: 100%
            height: 10px
            background: green
            overflow: hidden
            position: relative
            video
                height: 100%
                position: absolute
                left: 50%
                transform: translateX(-50%)
                z-index: 0
            .title-holder
                width: auto
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                color: #f8f8f8
                transition: all 1s
                z-index: 2
                .job-title
                    font-size: 2em
                    font-family: 'Gentium Basic', serif
                    font-style: italic
                    font-weight: 700
                    text-align: left
                    margin-bottom: 10px
                    letter-spacing: 0.1em
                .name
                    font-family: 'Open Sans', sans-serif
                    font-weight: 800
                    font-size: 4em
                    text-align: center
                    letter-spacing: 0.1em
                    width: 100%
                    white-space: nowrap
                .location
                    font-size: 1.5em
                    font-family: 'Gentium Basic', serif
                    font-weight: 400
                    text-align: right
                    margin-top: 10px
                    letter-spacing: 0.1em
            .hero-gradient
                height: 500px
                width: 100%
                //background: red
                z-index: 1
                position: absolute
                bottom: 0
                opacity: 0.5
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%)
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%)
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 )
        .intro
            //background: red
            width: 80% 
            margin: 187px 0
            p
                font-size: 2em
                line-height: 50px
                font-family: 'Gentium Basic', serif
                font-weight: 400
                font-style: italic
                color: #333
                letter-spacing: 0px
        .work-holder
            display: -webkit-flex
            display: flex
            -webkit-justify-content: center
            justify-content: center
            -webkit-flex-wrap: wrap
            flex-wrap: wrap
            margin-top: 30px
            -webkit-box-sizing: border-box
            -moz-box-sizing: border-box
            box-sizing: border-box
            .invisible
                opacity: 0
                cursor: none
                pointer-events: none
            .work-container
                position: relative
                //margin-bottom: 60px
                background: #fefff9
                color: #363636
                flex: 1 1 auto
                flex-basis: 0
                margin-right: 30px
                &:nth-child(3n)
                    margin-right: 0px
                &:hover .content .cover
                    opacity: 0.65
                &:hover .content .desc
                    opacity: 1
                .content
                    position: relative
                    height: 100%
                    width: 100%
                    overflow: hidden
                    .foot-vr
                        background-image: url(../assets/images/shoe/ElementariumAd.jpg)
                    .img
                        height: 100%
                        width: 100%
                        background-position: center
                        background-size: auto 100%
                        z-index: 0
                        position: absolute
                    .cover
                        background: black
                        height: 100%
                        width: 100%
                        opacity: 0
                        -webkit-transition: all 400ms cubic-bezier(0.39, 0.575, 0.565, 1)
                        transition: all 400ms cubic-bezier(0.39, 0.575, 0.565, 1)
                        z-index: 1
                        position: absolute
                    .desc
                        //background: red
                        height: auto
                        width: 100%
                        -webkit-transition: all 400ms cubic-bezier(0.39, 0.575, 0.565, 1)
                        transition: all 400ms cubic-bezier(0.39, 0.575, 0.565, 1)
                        z-index: 2
                        position: absolute
                        bottom: 0
                        padding: 20px
                        opacity: 0
                        h1
                            font-size: 1.3em
                            color: white
                            font-family: 'Open Sans', sans-serif
                            font-weight: 800
                            letter-spacing: 0.05em
                            margin-bottom: 5px
                        h2
                            font-size: 1em
                            font-family: 'Gentium Basic', serif
                            font-style: italic
                            color: white
                            letter-spacing: 0.1em
        footer
            height: auto
            width: 100%
            background: #2B333E
            margin-top: 187px
            .top-footer
                height: auto
                width: 100%
                margin-bottom: 60px
                h1
                    font-size: 33px
                    color: white
                    font-family: 'Open Sans', sans-serif
                    font-weight: 800
                    letter-spacing: 1px
                    text-align: center
                    padding: 80px 0 10px 0
                h2
                    font-size: 21px
                    font-family: 'Gentium Basic', serif
                    font-style: italic
                    color: white
                    letter-spacing: 1px
                    text-align: center
                    padding: 0 0 90px 0
                .email
                    font-size: 21px
                    line-height: 50px
                    font-family: 'Gentium Basic'
                    font-weight: 100
                    //font-style: italic
                    color: #8e9093
                    letter-spacing: 2px
                    text-align: center
                    //padding: 0 0 187px 0
                    a
                        color: #8e9093
                        text-decoration: none
                    
                .link-holder
                    width: 40%
                    margin: 0 auto
                    margin-bottom: 30px
                    display: -webkit-flex
                    display: flex
                    -webkit-justify-content: center
                    justify-content: center
                    -webkit-flex-wrap: wrap
                    flex-wrap: wrap
                    //margin-top: 30px
                    -webkit-box-sizing: border-box
                    -moz-box-sizing: border-box
                    box-sizing: border-box
                    a
                        flex: 1 1 auto
                        margin-right: 15px
            .bottom-footer
                height: auto
                width: 100%
                p
                    font-size: 16px
                    line-height: 50px
                    font-family: 'Gentium Basic'
                    font-weight: 100
                    //font-style: italic
                    color: #8e9093
                    letter-spacing: 2px
                    
//Mobile
@media all and (max-width: 420px)
    html
        body
            .hero
                .title-holder
                    .job-title
                        font-size: 1.5em
                    .name
                        white-space: normal
                        font-size: 3.5em
                    .location
                        font-size: 1em
            .work
                .intro
                    width: 100%
                .work-holder
                    margin-top: 0
            .work .work-holder 
                .work-container
                    flex-basis: 100%
                    margin: 0 0 30px 0
                .invisible
                    position: absolute 
            footer
                margin-top: 0
                .top-footer 
                    .link-holder
                        width: 100%
                        a
                            flex-basis: 25%
                            margin-bottom: 30px
        