        body{
            width: 100%;
            background-color: #f5f5f5;
        }

        p{
            font-size: 30px;
            color: #7e7e7e;
            font-family: "museo-sans";
            font-weight: 100;
        }

        h1{
            font-size: 20px;
            font-family: "utopia-std";
            font-style: italic;
            font-weight: 600;
            color: black;
        }

        ul li{
            color: #7e7e7e;
            font-family: "museo-sans";
            font-weight: 100;
            font-size: 15px;
        }

        ul{
            float: left;
            height: auto;
            width: auto;
            //margin-right: 15%;
            -webkit-padding-start: 0px;
            -webkit-margin-before: 0px;
            -webkit-margin-after: 0px;
        }

        .hero{
            background-image: url('../img/hero2.jpg');
            background-position: 50% 65%;
            background-size: cover;
            background-attachment: fixed;
            height: 600px;
            margin-bottom: 30px;
            overflow: hidden;
        }

        .hero-gradient{
            position: absolute;
            top: 450px;
            left:  0px;
            height: 150px;
            width: 100%;
            z-index: 2;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.4)));
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%);
            background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%);
            background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.4) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4d000000',GradientType=0 );
        }

        .bar{
            background-color: white;
            height: 3px;
            width: 100%;
            position: absolute;
            z-index: 2;
        }

        .bar1{
            top: 598px;
            left: 0px;
            opacity: 0.5;
        }

        .bar2{
            top: 600px;
            left: 0px;
        }

        .navContainer{
            height: 78px;
            margin-top: 15px;
        }

        .navContainer img{
            width: 22px;
            height: 35px;
            float: left;
            line-height: 39px;
        }

        .navContainer ul{
            float: right;
            list-style: none;
            line-height: 39px;
        }

        .navContainer ul li{
            display:inline-block;
            margin-right: 23px;
            color: white;
            text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.38);
            font-size: 15px;
        }

        .navContainer ul li:first-child{
            color: #7e7e7e;
            font-family: "museo-sans";
            font-weight: 100;
            font-size: 15px;
            font-style: normal;
        }

        a{
            color: white;
            text-decoration: none;
        }

        li::before{
            content: "";
            display: block;
            height: 3px;
            /*background-color: #1E7BB1;*/
            background-color: white;
            position: absolute;
            top: 33px;
            transition: 0.5s all;
            -webkit-transform: scaleX(0);
        }

        li{
            list-style: none;
        }

        #about:hover:before{
            -webkit-transform: scaleX(1);
        }

        #resume:hover:before{
            -webkit-transform: scaleX(1);
        }

        #contact:hover:before{
            -webkit-transform: scaleX(1);
        }

        #about::before{
            width: 48px;
        }

        #resume::before{
            width: 59px;
        }

        #contact::before{
            width: 67px;
        }

        a:link{
            color: white;
            text-decoration: none;
        }

        a:hover{
            color: white;
            text-decoration: none;
        }

        a:visited{
            color: white;
            text-decoration: none;
        }

        body .container .col-md-12{
            padding-left: 0px;
            padding-right: 0px;
        }

        .hello{
            text-align: center;
            font-size: 90px;
            font-family: "museo-sans";
            font-weight: 100;
            color: white;
            position: relative;
            top : 80px;
            opacity: 0;
            text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.38);
            transition: all 1s;
            z-index: 2;
            /*animation: heroAnimate 1s 0.5s forwards ease-out;
            -webkit-animation: heroAnimate 1s 0.5s forwards ease-out;*/
        }

        div .second-line{
            font-size:40px;
            font-family: "utopia-std";
            font-style: italic;
            top: 0px;
            opacity: 0;
            transition: all 1s;
            /*animation: heroAnimate 1s 0.5s forwards ease-out;
            -webkit-animation: heroAnimate 1s 0.5s forwards ease-out;*/
        }

        .air{
            background-image: url(../img/air2.jpg);
            background-position: 50% 50%;
            transition: all 0.8s;
            -webkit transition: all 0.8s;
        }

        .air:hover{
            background-position: 50% 102%;
        }

        .cricket{
            background-image: url(../img/crickets2.jpg);
            background-position: 50% 50%;
            transition: all 0.8s;
            -webkit transition: all 0.8s;
        }

        .cricket:hover{
            background-position: 50% 102%;
        }

        .smart{
            background-image: url(../img/smart2.jpg);
            background-position: 50% 50%;
            transition: all 0.8s;
            -webkit transition: all 0.8s;
        }

        .smart:hover{
            background-position: 50% 102%;
        }

        .three{
            background-image: url(../img/thr33.jpg);
            background-size: cover;
            background-position: 50% 50%;
            transition: all 0.8s;
            -webkit transition: all 0.8s;
        }

        .three:hover{
            background-position: 50% 102%;
        }

        .work.last{
            margin-right: 0px;
        }

        .work{
            background-color: #1E7BB1;
            height: 360px;
            width: 360px;
            float: left;
            margin: 0 30px 30px 0;
            padding: 10px;
            position: relative;
            overflow: hidden;
            border-width: 2px;
            border-color: white;
            border-style: solid;
        }

        .work p{
            width: 360px;
            height: 360px;
            position: absolute;
            top: 0px;
            left: 0px;
            padding-top: 325px;
            padding-left: 10px;
            z-index: 1;
            -webkit-transition: all 1s;
            transition: all 0.5s;
            text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.38);
        }

        .work:hover p{
            top:-35px;
        }

        .gradient{
            position: relative;
            top: 349px;
            left:  -10px;
            height: 90px;
            width: 360px;
            z-index: 0;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.3)));
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.3) 100%);
            background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.3) 100%);
            background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.3) 100%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.3) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4d000000',GradientType=0 );
            -webkit-transition: all 1s;
            transition: all 0.5s;
        }

        .work:hover .gradient{
            top: 260px;
        }

        .project-title{
            font-size: 21px;
            color: white;
            font-family: museo-sans;
            font-weight: 200;
        }

        .project-subject{
            font-size: 21px;
            color: white;
            font-family: "utopia-std";
            font-style: italic;
            margin-top: 30px;
        }

        .footer{
            background-color: #2b333e;
            height: 200px;
        }
        
/* portfolio page rules*/
        .whiteSpace-box{
            height: auto;
            background-color: white;
            padding: 80px 0;
            z-index: 0;
        }

        .greySpace-box{
            height: auto;
            margin: 0 auto;
            padding: 80px 0px;
            box-shadow: 0px 0px 8px #575757;
            -webkit-box-shadow: 0px 0px 8px #575757;
            z-index: 1;
        }

        .greySpace-box p{
            color: white;
        }

        .greySpace-box li{
            color: white;
        }

        .greySpace-box h1{
            color: white;
        }
        
        .project-details{
            height: 400px;
            background-color: #f2f2f2;
        }
        
        .details-contain{
        }

        .details-contain ul:last-child{
            float: right;
            margin-right: 0px;
        }

        .details-contain ul:nth-last-child(2){
            position: relative;
            left: 50%;
            margin-left: -180px;
        }

        .project-description p{
            text-align: center;
            font-size: 30px;
            color: #7e7e7e;
            font-family: "museo-sans";
            font-weight: 100;
        }

        .project-user{
            height: 400px;
            background-color: lightgrey;
        }

        .user-contain p{
            font-size: 20px;
            margin-left: 200px;
            margin-top: 15px;
        }

        .project-wireframe{
        }

        .wireframe-contain p{
            font-size:40px;
            font-family: "utopia-std";
            font-style: italic;
            color: white;
        }