/* -- Air portfolio page--*/
.air-hero{
    background-image: url('../img/thr33fold/threefoldCity.jpg');
    background-position: 50% 73%;
}

.bar2{
    background-color: #5286a2;
}

/*.center-block{
    width: 182px;
}*/

ul li{    
}

.greySpace-box{
    background-color: #3d6377;
    border-color: #2f4d5d;
    /*background-image: url(../img/diagonal-noise6.png);*/
    background-repeat: repeat;
}

.details-contain{
    background-color: #33b5e6;
    border-color: #2189b1;
}

.project-description{
    background-color: #f5f5f5;
}

.project-timeline{
    background-color: #2b333e;
    border-color: #11151a;
}

.user-contain{
}

.project-moodboards{
    background-color: #167e81;
    border-color: #136d6f;
}

.project-comps{
    background-image: url(../img/main/purty_wood2.jpg);
}

.project-comps h1{
    color: white;
}

.project-prototype{
    background-color: #028d86;
    border-color: #026f6a;
}