html body .white {
  background: white;
  color: #54585E; }
html body .grey {
  background: #F7F6F5;
  color: #54585E; }
html body .dark-blue {
  background: #2B333E;
  color: white; }
html body .box {
  height: auto;
  width: 100%;
  padding: 60px 0;
  box-sizing: border-box;
  text-align: center; }
  html body .box h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 32px;
    letter-spacing: 0.05em; }
  html body .box p {
    font-size: 18px;
    line-height: 28px;
    font-family: "Gentium Basic", serif;
    letter-spacing: 0.1em;
    width: 80%;
    margin: 0 auto; }
  html body .box img {
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 32px; }
html body .project-details {
  height: auto;
  width: 100%;
  background: #2b333e;
  padding: 40px 0;
  box-sizing: border-box; }
  html body .project-details .details {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    html body .project-details .details ul {
      position: relative;
      display: block;
      color: white;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-flex-basis: 0;
      flex-basis: 0;
      margin-right: 30px;
      text-align: center; }
      html body .project-details .details ul li {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 400; }
        html body .project-details .details ul li span {
          font-weight: 700; }

@media all and (max-width: 768px) {
  html body .box p {
    width: 100%; }
  html body .box img {
    width: 100%; } }
